[Unit]
Description=自动重试warp网络
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tg-api
ExecStart=/usr/bin/python3 /root/tg-api/wrap.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target